.headerMenu {
  background-color: rgb(9, 36, 77);
  color: white;
  display: flex;
  height: 60px;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  justify-content:left;
}

.textHeader {
  align-items: center;
  display: flex;
  font-size:x-large;
}

.about {
  align-items: center;
  color: white;
  display: flex;
  font-size:x-large;
  padding-left: 50px;
}

.helloText {
  padding-top: 70px;
}